@model List<WebBanSach.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Quản lý sách";
}

<h2>Danh sách sách</h2>

<table class="table">
    <tr>
        <th>Tiêu đề</th>
        <th>Tác giả</th>
        <th>Giá</th>
        <th>Thể loại</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@String.Format("{0:N0}₫", book.Price)</td>
            <td>@book.Category?.Name</td>
        </tr>
    }
</table>


