@model List<WebBanSach.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Quản lý người dùng";
}

<h2>Danh sách người dùng</h2>

<table class="table">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Vai trò</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>@user.Role</td>
        </tr>
    }
</table>


